<div class="container-fluid">
    <br>
    <div class="title">
        <div class="tile">
            Thông tin cá nhân
        </div>
        <div class="edit" id="profile">
            <a (click)="showModalProfile = true" style="color: black">Chỉnh sửa <i class="fa fa-edit"></i></a>
        </div>
        <div class="edit" id="password">
            <a id="changepassword" (click)="showModalPassword = true" style="color:black"> Đổi mật khẩu <i class="fa fa-key"></i></a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <div class="image">

            </div>
            <div id="camera">
                <i class="fa fa-camera"></i>Tải ảnh lên<input type="file">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="lable1">
                Họ và tên:
            </div>
            <div class="lable1">
                Ngày sinh:
            </div>
            <div class="lable1">
                Giới tính:
            </div>
            <div class="lable1">
                Email:
            </div>
            <div class="lable1">
                Điện thoại:
            </div>
        </div>
        <div class="col-sm-3">
            <div class="lable2">
                {{ currentUser.firstName }}
            </div>
            <div class="lable2">
                {{ currentUser.lastName }}
            </div>
            <div class="lable2">
                {{ currentUser.gender }}
            </div>
            <div class="lable2">
                {{ currentUser.email }}
            </div>
            <div class="lable2">
                {{ currentUser.numberPhone }}
            </div>
        </div>
        <div class="col-sm-4">
            Quảng cáo nằm ở đây
            ( quảng cáo tuy khó chịu nhưng góp phần giúp chúng tôi duy trì trong web )
        </div>

    </div>
    <div class="modal-password" [ngClass]="{'show':showModalPassword}">
        <div class="modal-password-content">
            <div class="close" (click)="showModalPassword = false">+</div>
            <div class="tittle-modal">Đổi mật khẩu</div>
            <hr>
            <div class="mt-2">
                <input type="password" class="input-changepassword" placeholder="nhập mật khẩu cũ">
                <input type="password" class="input-changepassword" placeholder="nhập mật khẩu mới">
                <input type="password" class="input-changepassword" placeholder="nhập lại mật khẩu mới">
            </div>
            <div class="mt-3">
                <button class="btn btn-primary submit">Gửi</button>
            </div>
        </div>
    </div>
    <div class="modal-profile" [ngClass]="{'show': showModalProfile}">
        <div class="modal-profile-content">
            <div class="close" (click)="showModalProfile = false">+</div>
            <div class="tittle-modal">Thông tin cá nhân</div>
            <hr>
            <div class="container-fluid mt-2">
                <div class="row mt-3">
                    <div class="col-sm-4">
                        <label for="name">Họ và tên</label>
                        <div>
                            <input type="text" class="input-profile" >
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>Giới tính</label>
                        <div>
                            <label>Nam</label> <input type="radio" name="gender">
                            <label>Nữ</label> <input type="radio" name="gender">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>Dân tộc</label>
                        
                        <select name="nation" id="nation">
                            <option> chọn </option>
                            <option *ngFor="let nation of nations" value={{nation}} class="option" >{{ nation }}</option>
                        </select>
                       
                    </div>
                    <div class="col-sm-3">
                        <label for="date">
                            Ngày sinh
                        </label>
                        <div>
                            <input type="date">
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-4">
                        <label for="identify">Số CMND</label>
                        <div>
                            <input type="text" class="input-profile">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <label for="email">Email</label>
                        <input type="text" class="input-profile">
                    </div>
                    <div class="col-sm-3">
                        <label for="tel">số điện thoại</label>
                        <div>
                            <input type="text" class="input-profile">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="wasborn">Nơi sinh</label>
                    <div>
                        <select name="wasborn" id="wasborn">
                            <option >chọn</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-8">
                    <label for="ndkhk">Nơi đăng ký hộ khẩu thường trú(tỉnh/huyện/xã)</label>
                    <div class="ndkhk">
                        <div class="div-select">
                            <select class="selec" name="city" id="city">
                                <option value="">city</option>
                            </select>
                        </div>
                        <div class="div-select">
                            <select class="selec" name="district" id="district">
                                <option value="">district</option>
                            </select>
                        </div>
                        <div class="div-select">
                            <select class="selec" name="commune" id="commune">
                                <option value="">xã</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label for="address"> Địa chỉ liên hệ</label>
                <input type="text" class="input-address">
            </div>
            <div class="mt-3">
                <button class="btn btn-primary submit">Gửi</button>
            </div>
        </div>
    </div>
</div>