<div class="container-fluid">
    <div class="flex">
        <div class="name-univer">
            Thông tin trường
        </div>
        <div>
            <button class="btn btn-danger button-delete" (click)="deleteUniver(univer.id)">Xóa Trường</button>
        </div>
    </div>
    <div class="row mt-2 pl-3">
        <div class="col-sm-4 info-univer">
            Mã trường: {{ univer.code }}
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 info-univer" >
            website: <a href="https://`{{ univer.website }}`" style=" color: black">{{ univer.website }} <i
                    class="fa fa-external-link ml-1 mt-1"></i></a>
        </div>
    </div>
    <div class="mt-2 info-univer">
        Tên trường: {{ univer.name }}
    </div>
    <div class="mt-2 info-univer">
        Địa chỉ: {{ univer.address }}
    </div>
    <div class="major">
        <div class="cacnganh">
            Các ngành tuyển sinh trong trường
        </div>

        <div >
            <button class="btn btn-primary button-add" (click)="showModalCreate = true">+ thêm</button>
        </div>

    </div>
    <div class="row mt-2 " >
        <div class="col-sm-12 block-major">
            <table class="table table-bordered">
                <thead class="thead-light po-fixed">
                    <tr>
                        <th scope="col" class="stt">STT</th>
                        <th scope="col">Mã ngành</th>
                        <th scope="col">Tên ngành</th>
                        <th scope="col">Tổ hợp môn</th>
                        <th scope="col">Điểm chuẩn</th>
                        <th scope="col">chỉ tiêu</th>
                        <th scope="col" class="act"> act </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let major of univer.university_Majors ; let i = index" >
                        <td scope="row">  {{ i + 1 }}</td>
                        <td> {{ major.majorsCode}}</td>
                        <td> {{major.majorsName}} </td>
                        <td>{{major.subjectGroupCode}}</td>
                        <td>{{major.benchmark}}</td>
                        <td>{{major.quantity}}</td>
                        <td class="act"> <i class="fa fa-edit" style="color: orange" (click)="updateMajor(major)"></i> 
                            <i class="fa fa-trash pl-2" style="color: red" (click)="deleteMajor(major.majorsId,major.subjectGroupId,major.year,i)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="modal-create" [ngClass]="{'show':showModalCreate}">
        <div class="modal-create-content">
            <div class="close" (click)="showModalCreate = false">+</div>
            <div class="title-modal">Thêm ngành</div>
            <hr>
            <div class="mt-2">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <label >Mã ngành</label>
                        <div>
                            <input type="text" class="input-short">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label >Tên ngành</label>
                        <div>
                            <input type="text" class="input-create">
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <label >Khối thi</label>
                        <div>
                            <select name="khoi" id="khoi">
                                <option value=""> chọn </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label >Điểm chuẩn</label>
                        <div>
                            <input type="text" class="input-short">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <label >Ghi chú</label>
                        <div>
                            <input type="text" class="input-create">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary submit">Gửi</button>
            </div>
        </div>
    </div>
    <div class="modal-update" [ngClass]="{'show':showModalUpdate}">
        <div class="modal-update-content">
            <div class="close" (click)="showModalUpdate = false">+</div>
            <div class="title-modal">Chỉnh sửa ngành</div>
            <hr>
            <div class="mt-2">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <label >Mã ngành</label>
                        <div>
                            <input type="text" class="input-short">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label >Tên ngành</label>
                        <div>
                            <input type="text" class="input-create">
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <label >Khối thi</label>
                        <div>
                            <select name="khoi" id="khoi">
                                <option value=""> chọn </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label >Điểm chuẩn</label>
                        <div>
                            <input type="text" class="input-short">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <label >Ghi chú</label>
                        <div>
                            <input type="text" class="input-create">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary submit2">Lưu</button>
                <button class="btn btn-danger submit2"> Xóa </button>
            </div>
        </div>
    </div>
</div>