<div class="container-fluid">
    <div class="tittle mt-4">
        <div class="tite">Thông tin các Trường</div>
        <div *ngIf="isAdmin">
            <button class="btn btn-primary button-adde" (click)="showModal = true">+Thêm</button>
        </div>
    </div>
    <hr>
    <div class="mt-4 mb-2 ml-5" [formGroup]="searchName">
        <Label>Tìm kiếm trường:</Label>
        <input type="text" placeholder="nhập tên trường" id="inputSearchSchool" formControlName="name">
        <button class="btn btn-outline-primary " id="search" (click)="filterSearchName()">Tìm kiếm</button>
    </div>
    <div class="row mt-3">
        <div class="col-sm-3 colSort" [formGroup]="sortCode">
            <strong>Sắp xếp theo mã trường</strong>
            <br>
            <select name="sortName" id="sortName" class="mt-2" formControlName="oderType">
                <option value="">--Sắp xếp trường--</option>
                <option *ngFor="let order of order_type" [value]="order.code"> {{ order.name }} </option>
            </select>
            <br>
            <button class="btn btn-outline-primary mt-2" id="sort" (click)="filterSortCode()">Sắp xếp</button>
        </div>
        <div class="col-sm-7" id="scroll">
            <table class="table table-bordered">
                <thead class="thead-light header">
                    <tr>
                        <th scope="col" class="stt">Mã trường</th>
                        <th scope="col">Tên trường Cao Đẳng - Đại Học</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let univer of univers" (click)="toDetail(univer.id)">
                        <td scope="row">{{ univer.code }}</td>
                        <td> {{ univer.name }}</td>
                        
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="col-sm-2">

        </div>
    </div>
    <div class="modal-university" [ngClass]="{'show': showModal}">
        <div class="modal-university-content" [formGroup]="formCreateUniver">
            <div class="close" (click)="showModal = false">+</div>
            <div class="tittle-modal">Thêm trường mới </div>
            <hr>
            <div class="mt-2">
                <div class="code-university">
                    <label for="code"> Mã trường:  </label>
                    <div>
                        <input type="text" class="inputPopup" formControlName="code">
                    </div>
                </div>
                <div class="name-university">
                    <label for="code"> Tên trường:  </label>
                    <div>
                        <input type="text" class="inputPopup" formControlName="name">
                    </div>
                </div>
                <div class="name-university">
                    <label for="code"> Địa chỉ: </label>
                    <div>
                        <input type="text" class="inputPopup" formControlName="address">
                    </div>
                </div>
                <div class="name-university">
                    <label for="code"> Website:  </label>
                    <div>
                        <input type="text" class="inputPopup" formControlName="website">
                    </div>
            </div>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary submit" (click)="createUniver()">Gửi</button>
            </div>
        </div>
    </div>
</div>