<div class="container-fluid">
    <div class="tittle mt-4">
        <div class="tite">Thông tin các tổ hợp môn</div>
        <div>
            <button class="btn btn-primary button-adde" (click)="showModal = true">+Thêm</button>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <label style="font-weight:bold">Nhập tên tổ hợp môn:</label>
                <input type="text" class="inputMajor" placeholder="nhập khối thi">
            </div>
            <div class="col-sm-2">
                <br>
                <button class="btn btn-outline-primary mt-2" >Tìm kiếm</button>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                Quảng cáo here
            </div>
        </div>
    <div class="row mt-3">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-8 block-major">
            <table class="table table-bordered ">
                <thead class="thead-light po-fixed">
                    <tr>
                        <th scope="col" class="majorCode">Mã tổ hợp</th>
                        <th scope="col" class="majorName">Môn thi</th>
                        <th scope="col" class="majorAct">Xóa</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let khoi of khois">
                        <td class="majorCode"> {{ khoi.code}}</td>
                        <td class="majorName"> {{khoi.subjects}} </td>
                        <td scope="col" class="majorAct"><i class="fa fa-trash" style="color:red ; cursor: pointer;"></i></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <div class="modal-major" [ngClass]="{'show': showModal}">
            <div class="modal-major-content">
                <div class="close" (click)="showModal = false">+</div>
                <div class="tittle-modal">Thêm tổ hợp môn mới:</div>
                <hr>
                <div class="mt-2">
                    <div class="code-major">
                            <label for="code"> Mã tổ hợp môn </label>
                            <div>
                                <input type="text" class="inputPopup">
                            </div>
                    </div>
                    <div class="name-major">
                            <label for="code"> Môn thi </label>
                            <div>
                                <input type="text" class="inputPopup">
                            </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button class="btn btn-primary submit">Gửi</button>
                </div>
            </div>
        </div>
</div>