<div class="sidebar">
    <div class="css-common bottom">
        <a href="home" class="a-big"><i class="fa fa-home" style="font-size:29px;margin-right: 5px;"></i>Trang chủ</a>
    </div>
    <hr>
    <!-- *ngIf="!currentUser.isAdmin;" -->
    <div class="css-common pt-2" >
        <h5><i class="fa fa-clipboard" style="font-size:25px; margin-right: 5px;"></i>Đăng
            ký</h5>
        <div class="tracuu css-common">
            <a class="pl7" href="/in-login/register">-Phiếu đăng ký NV</a>
        </div>
    </div>
    <hr>
    <div class="css-common pt-2">
        <h5><i class="fa fa-search" style="font-size:25px; margin-right: 5px;"></i>Tra cứu</h5>
        <div class="tracuu css-common">
            <a class="pl7" href="/out-login/univer-admistion">- Mã trường - mã ngành </a>
            <a class="pl7" href="/out-login/benchmark">- Điểm chuẩn </a>
            <a class="pl7" href="/in-login/result">- Kết quả thi</a>
        </div>
    </div>
    <hr>
    <!-- *ngIf="currentUser.isAdmin;" -->
    <div class="css-common pt-2" >
        <h5> <i class="fa fa-drivers-license-o" style="font-size:25px; margin-right: 5px;"></i> Quản lý</h5>
        <div class="css-common">
            <a class="pl7" href="/in-login/list-student">- Danh sách Thí sinh</a>
            <a class="pl7" href="/in-login/university">- Cao Đẳng - Đại học</a>
            <a class="pl7" href="/in-login/majors">- Nghành học</a>
            <a class="pl7" href="/in-login/subject-combination">- Khối xét tuyển</a>
            <a class="pl7" href="/in-login/fill-result">- Nhập điểm</a>
        </div>
    </div>
    <hr>
</div>
<div class="sidebar mt-3 ">
    <div class="css-common no-bottom pt-3">
        <h5><i class="fa fa-newspaper-o" aria-hidden="true" style="font-size:25px; margin-right: 5px;"></i>Tin tức</h5>
        <div class="css-common">
            <br>
            <br>
            <br>
            <br><br>
            <br>
            <br><br><br>
        </div>
    </div>
</div>