
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
            <img src="http://placehold.it/150x50?text=Logo" alt="">
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <label style="font-size: 18px; padding-top: 7px; color: antiquewhite; margin-right: 10px;"> Xin Chao </label>
          <li class="nav-item">
            <div class="right-menu">
                <button class="btn btn-outline-primary dropdown extra" >Minh Khang <i class="fa fa-user-circle"></i></button>
                <div class="dropdown-auth">
                  <button class="button-custom btn btn-outline-info"> Đổi mật khẩu <i class="fa fa-key"></i> </button>
                  <button class="button-custom btn btn-outline-info" (click)="logout()"> Đăng xuất <i class="fa fa-sign-out"></i> </button>
                </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  